body {
  background-image: url(assets/4844928.jpg);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: white;
  border: 2px solid #FFF;
}

.logo {
  max-width: 80%;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
  margin: 0; 
  padding:0;
  font-size: 2em;
  color: #FFC300;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: bold;
  font-size: 1em;
  color: #FFF;
  margin-bottom: 5px;
  text-shadow: 1px 1px #000;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="file"],
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px #000;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px rgba(255, 195, 0, 0.5);
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 10px 20px;
  background-color: #FFC300;
  border: none;
  border-radius: 5px;
  color: #000;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #FF5733;
}

#mostrar-productos {
  margin-top: 15px;
  background-color: #FFC300;
}

#mostrar-productos:hover {
  background-color: #FFC300;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .container {
      max-width: 80%;
      padding: 20px;
  }

  h2 {
      font-size: 1.8em;
  }

  label {
      font-size: 1em;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  textarea {
      font-size: 0.9em;
  }

  button {
      font-size: 0.9em;
  }
}

@media (max-width: 992px) {
  .container {
      max-width: 90%;
      padding: 15px;
  }

  h2 {
      font-size: 1.6em;
  }

  label {
      font-size: 0.9em;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  textarea {
      font-size: 0.85em;
  }

  button {
      font-size: 0.85em;
  }
}

@media (max-width: 768px) {
  .container {
      max-width: 100%;
      padding: 15px;
  }

  h2 {
      font-size: 1.4em;
  }

  label {
      font-size: 0.85em;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  textarea {
      font-size: 0.8em;
  }

  button {
      font-size: 0.8em;
  }
}

@media (max-width: 576px) {
  .container {
      max-width: 100%;
      padding: 10px;
  }

  h2 {
      font-size: 1.2em;
  }

  label {
      font-size: 0.8em;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  textarea {
      font-size: 0.75em;
  }

  button {
      font-size: 0.75em;
  }
}
